<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.edu.mapper.EduVocabularyMapper">

    <resultMap type="com.ruoyi.edu.domain.EduVocabulary" id="EduVocabularyResult">
        <result property="vocabId" column="vocab_id"/>
        <result property="unitId" column="unit_id"/>
        <result property="word" column="word"/>
        <result property="language" column="language"/>
        <result property="pronunciation" column="pronunciation"/>
        <result property="partOfSpeech" column="part_of_speech"/>
        <result property="definition" column="definition"/>
        <result property="exampleSentences" column="example_sentences"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <sql id="selectEduVocabularyVo">
        select vocab_id, unit_id, word, language, pronunciation, part_of_speech,
               definition, example_sentences, create_by, create_time,
               update_by, update_time, del_flag
        from edu_vocabulary
        where del_flag = '0'
    </sql>

    <select id="selectEduVocabularyById" parameterType="Long" resultMap="EduVocabularyResult">
        <include refid="selectEduVocabularyVo"/>
        and vocab_id = #{vocabId}
    </select>

    <select id="selectEduVocabularyList" parameterType="com.ruoyi.edu.domain.EduVocabulary" resultMap="EduVocabularyResult">
        select vocab_id, unit_id, word, language, pronunciation, part_of_speech,
               definition, example_sentences, create_by, create_time
        from edu_vocabulary
        where del_flag = '0'
        <if test="word != null and word != ''">
            AND word LIKE CONCAT('%', #{word}, '%')
        </if>
        <if test="unitIds != null and unitIds != ''">
            AND FIND_IN_SET(unit_id, #{unitIds})
        </if>
        <if test="unitId != null">
            AND unit_id = #{unitId}
        </if>
        order by create_time desc
    </select>

    <delete id="deleteVocabularyWithMismatchedLanguage">
        delete from edu_vocabulary 
        where del_flag = '0'
        and vocab_id in (
            select v.vocab_id
            from edu_vocabulary v
            join edu_course_unit u on v.unit_id = u.unit_id
            join edu_course c on u.course_id = c.course_id
            where v.language != c.language
        )
    </delete>

    <insert id="insertEduVocabulary" parameterType="com.ruoyi.edu.domain.EduVocabulary" useGeneratedKeys="true" keyProperty="vocabId">
        insert into edu_vocabulary (
            unit_id, word, language, pronunciation, part_of_speech,
            definition, example_sentences, create_by, create_time, del_flag
        ) values (
            #{unitId}, #{word}, #{language}, #{pronunciation}, #{partOfSpeech},
            #{definition}, #{exampleSentences}, #{createBy}, sysdate(), '0'
        )
    </insert>

    <update id="updateEduVocabulary" parameterType="com.ruoyi.edu.domain.EduVocabulary">
        update edu_vocabulary
        <trim prefix="SET" suffixOverrides=",">
            <if test="unitId != null">unit_id = #{unitId},</if>
            <if test="word != null and word != ''">word = #{word},</if>
            <if test="language != null">language = #{language},</if>
            <if test="pronunciation != null">pronunciation = #{pronunciation},</if>
            <if test="partOfSpeech != null">part_of_speech = #{partOfSpeech},</if>
            <if test="definition != null">definition = #{definition},</if>
            <if test="exampleSentences != null">example_sentences = #{exampleSentences},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            update_time = sysdate(),
        </trim>
        where vocab_id = #{vocabId}
    </update>

    <delete id="deleteEduVocabularyById" parameterType="Long">
        update edu_vocabulary set del_flag = '1' where vocab_id = #{vocabId}
    </delete>

    <delete id="deleteEduVocabularyByIds" parameterType="Long">
        update edu_vocabulary set del_flag = '1' where vocab_id in
        <foreach item="vocabId" collection="array" open="(" separator="," close=")">
            #{vocabId}
        </foreach>
    </delete>

</mapper>